@import '/styles/variables';

.container {
  display: flex;
  max-width: 1200px;
  min-width: 600px;
  margin: 80px auto;
  color: $color3;
  background-color: $bg3;
}

.leftbar {
  max-height: calc(100vh - 160px);
  background: linear-gradient(45deg, rgba(black, 0.02) 2%, rgba(white, 0.05) 100%);
}
.list {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 24px 0;
  box-sizing: border-box;
  overflow-y: auto;
}
.item {
  padding: 16px 32px;
  white-space: nowrap;
  cursor: pointer;
  &Active,
  &:hover {
    background: rgba(white, 0.05);
  }
}

.rightbar {
  flex-grow: 1;
  padding: 24px 40px;
}
.title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}
.field {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  font-size: 14px;
}
.label {
  min-width: 150px;
  font-size: 12px;
  color: rgba($color3, 0.6);
}
.val {
  color: $color3;
  word-break: break-word;
}
.url {
  word-break: break-word;
}
.desc {
  margin-top: 40px;
  padding-top: 24px;
  border-top: 1px solid rgba(white, 0.05);
  color: rgba($color3, 0.6);
  font-size: 12px;
  line-height: 18px;
}
